  <ul>
    <li>
      <h1 class="document-title">{{{this.value.title}}}</h1> 
      <div class="document-body">{{{this.value.document}}}</div>
        <button class="btn js-close-document-btn close-document-btn" data-model-id="{{{this.id}}}"><i class="icon-remove"></i></button>
        <button class="btn js-edit-document-btn edit-document-btn" data-model-id="{{{this.id}}}"><i class="icon-edit"></i>Edit</button>
        <button class="btn btn-danger js-remove-document-btn remove-document-btn" data-model-id="{{{this.id}}}"><i class="icon-remove"></i>Delete</button>
    </li>
  </ul>